[submodule "src/utility"]
	path = src/utility
	url = https://github.com/marbl/meryl-utility
[submodule "src/meryl"]
	path = src/meryl
	url = https://github.com/marbl/meryl
[submodule "src/seqrequester"]
	path = src/seqrequester
	url = https://github.com/marbl/seqrequester
[submodule "src/utgcns/htslib"]
	path = src/utgcns/htslib
	url = https://github.com/samtools/htslib.git
